* {
	font-family: "微软雅黑";
	box-sizing: border-box;
}
html, body {
	width: 100%;
}

.button {
	cursor:pointer;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	display:inline-block;
	vertical-align: middle;
	width: 70px;
}

button.male {
	background-color: #d5eaf2;
}
button.female {
	background-color: #f5d7dc;
	margin-left: 10px;
}

.top {
	position:absolute;
	bottom:45px;
	top: 0px;
	width: 100%;
	overflow: auto;
	padding: 5px;
}
.bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	padding: 5px;
	border-top: 2px solid aliceblue;
}
.content_area {
	position:absolute;
	max-height: 100%;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.line {
	color: black;
	margin-bottom: 5px;
	padding: 5px;
}
.line.male {
	background-color: #d5eaf2;
}
.line.female {
	background-color: #f5d7dc;
}
.line.sending {
	color: #b3b1b1;
}
.line.system {
	color: gray;
	font-style: italic;
	background-color: transparent;
}

.line .time {
	display: none;
	overflow: visible;
	white-space: pre;
	position:absolute;
	top: -15px;
	left: 0px;
	font-style: oblique;
	height: 12px;
	font-size: 12px;
	color: gray;
}

.line:nth-child(10n) .time {
	display: block;
}

textarea {
	vertical-align: middle;
	border-top: none;
	border-left:none;
	border-right: none;
	outline:none !important;
	line-height: 25px;
}

div.emotion.popup {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-left: 20px;
	padding-top: 10px;
	max-height: 45%;
	overflow:auto;
	display:none;
}

.ios div.emotion.popup {
	top: auto;
	bottom: 80px;
}

div.emotion.popup:after {
	content: "";
	display: block;
	clear: both;
}

/* Border styles */
div.statistic table thead, div.statistic table tr {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(211, 202, 221);
}
div.statistic table {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(211, 202, 221);

	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(211, 202, 221);
}

/* Padding and font style */
div.statistic table td, div.statistic table th {
	padding: 5px 10px;
	font-size: 12px;
	color: rgb(95, 74, 121);
}

div.statistic table tr td:first-child {
	width: 95px;
}

div.statistic table span {
	display:inline-block;
	margin-right: 15px;
}

/* Alternating background colors */
div.statistic table tr:nth-child(even) {
	background: rgb(223, 216, 232);
}
div.statistic table tr:nth-child(odd) {
	background: #FFF
}